*{margin: 0;padding: 0;font-family: "Century Gothic",sans-serif;}
body{background: #6d6d6d;}
#main{display: flex; flex-direction: column}
#user-logged-nav{width: 100%;padding: 1%;background: #6d6d6d;}
#users-table tr.selected{background-color: rgb(250, 250, 210);}
#request_screen{background: #f1ebe0;/*#f1f1f1;*/padding: 10px;display: flex;flex-direction: column;align-items: center;}
#add-button-container{width: 100%;display: flex;justify-content: center;height: fit-content;}
#people-list {margin-bottom: 1%;}
#table-container{width: 90%;margin: 15px;}
.container{width: 100%;max-width: 1200px;}
.logo{float: left;color: #fff;}
.container .menu{float: right;}
.container .menu a{display: inline-block;padding: 15px;line-height: normal;text-decoration: none;transition: all 0.3s ease;border-bottom: 2px solid transparent;font-size: 15px;color: #fff;}
.container .menu a:hover{border-bottom: 2px solid #fff;padding-bottom: 5px;}

